body {
  margin: 0;
  padding: 0;
}
* {
  font-size: 13px;
}
main {
  text-align: center;
  position: relative;
}
main h1 {
  font-size: 5rem;
}
main span {
  font-size: 4rem;
}
.game-container {
  text-align: center;
  width: 500px;
  height: 500px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 50px;
  position: relative;
}
.field:nth-child(5) {
  border: 1px solid black;
}
.field:nth-child(2),
.field:nth-child(8) {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.field:nth-child(4),
.field:nth-child(6) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.field:hover {
  cursor: pointer;
}
.cross {
  visibility: hidden;
  width: 10px;
  height: 40%;
  position: absolute;
  background-color: black;
  opacity: 0;
  transition: opacity 1s;
}
.circle {
  visibility: hidden;
  width: 40%;
  height: 40%;
  border: 5px solid black;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}
.cross:nth-child(2) {
  transform: skewX(-45deg);
}
.cross:nth-child(1) {
  transform: skewX(45deg);
}
.x > span:nth-child(1),
.x > span:nth-child(2) {
  visibility: visible;
  opacity: 1;
}
.o > div {
  opacity: 1;
  visibility: visible;
}

.winners-line {
  display: none;
  width: 10px;
  height: 500px;
  position: absolute;
  background-color: black;
  transform: rotate(90deg);
}
/* wins posibility */
.\30,
.\31,
.\32,
.\33,
.\34,
.\35,
.\36,
.\37,
.\38,
.\39 {
  display: block;
}
.\30 {
  bottom: 0px;
}
.\31 {
}
.\32 {
  top: 0;
}
.\33 {
  transform: rotate(0deg);
  left: -90px;
}
.\34 {
  transform: rotate(0deg);
}
.\35 {
  transform: rotate(0deg);
  right: -90px;
}
.\36 {
  transform: rotate(135deg);
  height: 600px;
}
.\37 {
  transform: rotate(-135deg);
  height: 600px;
}

.winner-card {
  margin: auto;
  width: 300px;
  height: 300px;
  box-shadow: 1px 1px 50px rgb(0, 0, 0, 0.3);
  border-radius: 30px;
  position: relative;
  padding: 50px;
  box-sizing: border-box;
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 100px;
}
.winner-card h2 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}
.win {
  display: none;
}
.win ~ section {
  transition: opacity 2s;
  visibility: visible;
  opacity: 1;
}
.winner-card span {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.winner-card button {
  border: none;
  background: #0000cd;
  color: rgb(255, 255, 255);
  padding: 15px;
  width: 100px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3), -5px 5px 10px rgb(0, 0, 0, 0.3);
  position: relative;
}
.winner-card button:hover {
  background-color: #5656c2;
  top: -1px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .game-container {
    width: 300px;
    height: 300px;
  }
}
